<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Blog</title>
</head>
<body>
	<div id="main">
		<script src="jquery.js"></script>
		<script src="underscore.js"></script>
		<script src="backbone.js"></script>
		<script src="app.js"></script>
	</div>
</body>
</html>